html, body, div, img, li, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, blockquote, hr {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

body {
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-serif;
    line-height: 20px;
    word-spacing: 1px;
    font-size: 12px;
    background-color: grey;
}

#header, #content, #footer {
    margin: 0 auto;
    width: 960px;
    background-color: white;
    padding: 10px;
}

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

ul {
    list-style: none outside none;
}


/****Content****/
#content {
}

h1 {
    color: #214f68;
    font-size: 26px;
    font-family: "kulturista-web-1","kulturista-web-2";
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    word-spacing: 1px;
    margin-bottom: 10px;
}

fieldset {
    border: 0 none;
    padding: 0 15px;
}

/*****BANDEAU GAUCHE*****/

#menu {
    float: left;
    width: 150px;
}

#contenu {
    float: left;
    width: 650px;
    margin: 10px;
}



#search {
    position: relative;
    padding: 10px;
    border: 3px solid #d2eda4;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#search .text-discret {
    position: absolute;
    bottom: 0px;
    right: 18px;
    font-size: 10px;
    color: blue;

}

#search fieldset {
    
    float: left;
    width: 172px;
}

input[type=submit] {
    position: absolute;
    bottom: 18px;
    right: 15px;
    background-image:url(./images/submit.png);
    background-position: 4px;
    background-color: #d2eda4;
    background-repeat: no-repeat;
    border: 2px solid #CCC;
    padding: 5px 5px 5px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
   
}

input[type=submit]:hover {
    border-color: #48a103;
    cursor: pointer;
}


/*****CARROUSEL*****/
/*.carrousel {
    width: 884px;
    height: 250px;
}
.carrousel .slide {
    display: block;
    float: left;
    width: 884px;
    height: 250px;
    position: relative;
}
.carrousel .slide .info {
    display: block;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  rgba(0,0,0,0.8);
    position: absolute;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
}

.slide h1 {
    position: absolute;
    top: 20px;
    left: 250px;
}

.slide .paragraphe_liste {
    position: absolute;
    left: 250px;
    top: 70px;
    font-size: 18px;
    color: black;
}

.slide .miniature {
    position: absolute;
    left: 80px;
    top: 20px;
}

.pagination {
    position: relative;
    float: right;
    margin-right: 10px;
    top: -30px;
}

.pagination a {
    display: inline-block;
    background: url("./images/bouton_pagination.png") 0 0 no-repeat transparent;
    width: 8px;
    height: 8px;
    margin-left: 3px;
}

.pagination a.selected {
    background-position: 0 -8px;
    cursor: default;
}

#slider {
    margin-bottom: 30px;
}*/
.image_carousel {
    padding: 15px 0 15px 40px;
    position: relative;
}
.image_carousel img {
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 7px;
    display: block;
    float: left;
}
a.prev, a.next {
    background: url(./images/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 85px;
}
a.prev {			
    left: -22px;
    background-position: 0 0; }
a.prev:hover {		
    background-position: 0 -50px; 
}
a.prev.disabled {	
    background-position: 0 -100px !important;  
}
a.next {			
    right: -22px;
    background-position: -50px 0; 
}
a.next:hover {		
    background-position: -50px -50px; 
}
a.next.disabled {	
    background-position: -50px -100px !important;  
}
a.prev.disabled, a.next.disabled {
    cursor: default;
}

a.prev span, a.next span {
    display: none;
}
.pagination {
    text-align: center;
}
.pagination a {
    background: url(./images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
}
.pagination a.selected {
    background-position: -25px -300px;
    cursor: default;
}
.pagination a span {
    display: none;
}
.clearfix {
    float: none;
    clear: both;
}












