body
{
    margin: 0;
    padding: 0;
    text-align: center ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    background: #ffccad;
}
h1 {
    margin: 0;
}
div#conteneur
{
    width: 770px;
    min-height: 500px;
    margin: 0 auto ;
    text-align: left ;
    border: 2px solid  #d39667;
    background: #fff ;
}
div#conteneur ul#menu {
    margin-top: 0;
    margin-left: 0;
}
div#conteneur ul#menu li {
    width: 150px;
    line-height: 24px;
    list-style: none;
    background: #fbeace;
    margin-bottom: 1px;
    margin-left: -40px;
    text-align: center;
}
div#conteneur ul#menu li a {
    text-decoration: none;
    padding-top: 5px;
}

div#colonneDroite {
    float: left;
    width: 150px;

    margin-right: 5px;
}
h1#header
{
    height: 200px;
    background: url("./images/banniere.jpg") no-repeat;
    margin-bottom: 0;
    margin-top: 0;
}
div#contenu
{
    display: block;
    padding-right: 5px;
}
div#contenu p
{
    text-align: justify ;
    text-indent: 2em ;
    line-height: 1.7em ;
}

div#footer
{
    width: 770px;
    margin: 0 ;
    text-align: center;
    color: #8a0 ;
}

/* RECHERCHE RAPIDE */
.rapide {
    display: block;
    text-align: center;
    line-height: 24px;
    background: #fbeace;
}

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

input[type=submit] {    

    height: auto;
    margin-left: 465px;
    font-weight: bold;
    padding: 6px 10px;
    cursor: pointer;
    color: #fff;

    text-align: center;
    text-shadow: 0 -1px 1px #64799e;

    background: #a5b8da;
    background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));

    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
}

#noSubmit {
    background: #eee;
    background: -moz-linear-gradient(top, #747474 0%, #747474 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#747474), to(#747474));
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: auto;
}